<select id='rating' style='width: 200px;'>
  <option value='oneStar'>1 Star</option>
  <option value='twoStar'>2 Star</option>
  <option value='threeStar'>3 Star</option>
  <option value='fourStar'>4 Star</option>
  <option value='fiveStar'>5 Start</option>
</select>